## Preprocessing Dwelling data in 2021
This notebook is to preprocess dwelling types in victoria per SA2

In [74]:
import pandas as pd

In [75]:
# SA2_(EN)_by_STRD_Dwelling_Structure.csv

# load 2021 ABS Census data on dwelling structure
dwelling_types_2021_path = "../data/landing/ABS_data/SA2_(EN)_by_STRD_Dwelling_Structure.csv"

skip_rows = 9
dwelling_types_2021_data = pd.read_csv(dwelling_types_2021_path, skiprows=skip_rows)
dwelling_types_2021_data

,STRD Dwelling Structure,Separate house,"Semi-detached, row or terrace house, townhouse etc. with one storey","Semi-detached, row or terrace house, townhouse etc. with two or more storeys",Flat or apartment in a one or two storey block,Flat or apartment in a three storey block,Flat or apartment in a four to eight storey block,Flat or apartment in a nine or more storey block,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total,Unnamed: 16
0,SA2 (EN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alfredton,5717,83.0,140.0,275.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0,NaN
2,Ballarat,4588,663.0,200.0,338.0,66.0,13.0,0.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0,NaN
3,Buninyong,2613,64.0,14.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0,NaN
4,Delacombe,3914,225.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789,234159.0,156058.0,122863.0,70836.0,84838.0,109805.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0,NaN
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,Cells in this table have been randomly adjuste...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
dwelling_types_2021_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 17 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   STRD Dwelling Structure                                                       529 non-null    object
 1   Separate house                                                                525 non-null    object
 2   Semi-detached, row or terrace house, townhouse etc. with one storey           524 non-null    float64
 3   Semi-detached, row or terrace house, townhouse etc. with two or more storeys  524 non-null    float64
 4   Flat or apartment in a one or two storey block                                524 non-null    float64
 5   Flat or apartment in a three storey block                                     524 non-null    float64
 6   Flat or apartment in a four to eight storey block                             524 non-null    float64
 7   Flat or apartment in a nine or more storey block                              524 non-null    float64
 8   Flat or apartment attached to a house                                         524 non-null    float64
 9   Caravan                                                                       524 non-null    float64
 10  Cabin, houseboat                                                              524 non-null    float64
 11  Improvised home, tent, sleepers out                                           524 non-null    float64
 12  House or flat attached to a shop, office, etc.                                524 non-null    float64
 13  Not stated                                                                    524 non-null    float64
 14  Not applicable                                                                524 non-null    float64
 15  Total                                                                         524 non-null    float64
 16  Unnamed: 16                                                                   0 non-null      float64
dtypes: float64(15), object(2)
memory usage: 70.4+ KB

In [77]:
dwelling_types_2021_data = dwelling_types_2021_data.applymap(lambda x: 0 if "Cells "
                                                                          "in this table have been randomly adjusted to avoid the release of confidential data. "
                                                                          "No reliance should be "
                                                                          "placed on small cells."
                                                                          "" in str(x) else x)

In [78]:
dwelling_types_2021_data['Separate house'] = dwelling_types_2021_data['Separate house'].astype(float)
dwelling_types_2021_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 17 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   STRD Dwelling Structure                                                       529 non-null    object
 1   Separate house                                                                525 non-null    float64
 2   Semi-detached, row or terrace house, townhouse etc. with one storey           524 non-null    float64
 3   Semi-detached, row or terrace house, townhouse etc. with two or more storeys  524 non-null    float64
 4   Flat or apartment in a one or two storey block                                524 non-null    float64
 5   Flat or apartment in a three storey block                                     524 non-null    float64
 6   Flat or apartment in a four to eight storey block                             524 non-null    float64
 7   Flat or apartment in a nine or more storey block                              524 non-null    float64
 8   Flat or apartment attached to a house                                         524 non-null    float64
 9   Caravan                                                                       524 non-null    float64
 10  Cabin, houseboat                                                              524 non-null    float64
 11  Improvised home, tent, sleepers out                                           524 non-null    float64
 12  House or flat attached to a shop, office, etc.                                524 non-null    float64
 13  Not stated                                                                    524 non-null    float64
 14  Not applicable                                                                524 non-null    float64
 15  Total                                                                         524 non-null    float64
 16  Unnamed: 16                                                                   0 non-null      float64
dtypes: float64(16), object(1)
memory usage: 70.4+ KB

In [79]:
# preprocessing
dwelling_types_2021_data.drop(dwelling_types_2021_data.index[0], inplace = True)
dwelling_types_2021_data.drop(columns=dwelling_types_2021_data.columns[-1], inplace = True)
dwelling_types_2021_data

,STRD Dwelling Structure,Separate house,"Semi-detached, row or terrace house, townhouse etc. with one storey","Semi-detached, row or terrace house, townhouse etc. with two or more storeys",Flat or apartment in a one or two storey block,Flat or apartment in a three storey block,Flat or apartment in a four to eight storey block,Flat or apartment in a nine or more storey block,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total
1,Alfredton,5717.0,83.0,140.0,275.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0
2,Ballarat,4588.0,663.0,200.0,338.0,66.0,13.0,0.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0
3,Buninyong,2613.0,64.0,14.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0
4,Delacombe,3914.0,225.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1490.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,234159.0,156058.0,122863.0,70836.0,84838.0,109805.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# SA2 by HCFMD Family Household Composition (Dwelling).csv
dwelling_types_2021_data.rename(columns={'STRD Dwelling Structure': 'SA2 Name'}, inplace=True)
dwelling_types_2021_data.rename(columns={'Total': 'Total Suburb Dwellings'}, inplace=True)

dwelling_types_2021_data

,SA2 Name,Separate house,"Semi-detached, row or terrace house, townhouse etc. with one storey","Semi-detached, row or terrace house, townhouse etc. with two or more storeys",Flat or apartment in a one or two storey block,Flat or apartment in a three storey block,Flat or apartment in a four to eight storey block,Flat or apartment in a nine or more storey block,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total Suburb Dwellings
1,Alfredton,5717.0,83.0,140.0,275.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0
2,Ballarat,4588.0,663.0,200.0,338.0,66.0,13.0,0.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0
3,Buninyong,2613.0,64.0,14.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0
4,Delacombe,3914.0,225.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1490.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,234159.0,156058.0,122863.0,70836.0,84838.0,109805.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
dwelling_types_2021_data['Semi-detached house or Townhouse'] = dwelling_types_2021_data['Semi-detached, row or terrace house, townhouse etc. with one storey'] + dwelling_types_2021_data['Semi-detached, row or terrace house, townhouse etc. with two or more storeys']
dwelling_types_2021_data

,SA2 Name,Separate house,"Semi-detached, row or terrace house, townhouse etc. with one storey","Semi-detached, row or terrace house, townhouse etc. with two or more storeys",Flat or apartment in a one or two storey block,Flat or apartment in a three storey block,Flat or apartment in a four to eight storey block,Flat or apartment in a nine or more storey block,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total Suburb Dwellings,Semi-detached house or Townhouse
1,Alfredton,5717.0,83.0,140.0,275.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0,223.0
2,Ballarat,4588.0,663.0,200.0,338.0,66.0,13.0,0.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0,863.0
3,Buninyong,2613.0,64.0,14.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0,78.0
4,Delacombe,3914.0,225.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0,225.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1490.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,234159.0,156058.0,122863.0,70836.0,84838.0,109805.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0,390217.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
dwelling_types_2021_data['Flat or Apartment'] = dwelling_types_2021_data['Flat or apartment attached to a house'] + dwelling_types_2021_data['Flat or apartment in a four to eight storey block'] + dwelling_types_2021_data['Flat or apartment in a nine or more storey block'] + dwelling_types_2021_data['Flat or apartment in a one or two storey block'] + dwelling_types_2021_data['Flat or apartment in a three storey block'] + dwelling_types_2021_data['Flat or apartment attached to a house']

In [83]:
dwelling_types_2021_data['Temporary housing'] = dwelling_types_2021_data['Caravan'] + dwelling_types_2021_data['Cabin, houseboat'] + dwelling_types_2021_data['Improvised home, tent, sleepers out']

In [84]:
dwelling_types_2021_data = dwelling_types_2021_data.drop(columns=['Semi-detached, row or terrace house, townhouse etc. with two or more storeys', 'Semi-detached, row or terrace house, townhouse etc. with one storey'])

In [85]:
dwelling_types_2021_data['Not Applicable'] = dwelling_types_2021_data['Not applicable'] + dwelling_types_2021_data['Not stated']

In [86]:
dwelling_types_2021_data

,SA2 Name,Separate house,Flat or apartment in a one or two storey block,Flat or apartment in a three storey block,Flat or apartment in a four to eight storey block,Flat or apartment in a nine or more storey block,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Temporary housing,Not Applicable
1,Alfredton,5717.0,275.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0,223.0,275.0,4.0,23.0
2,Ballarat,4588.0,338.0,66.0,13.0,0.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0,863.0,417.0,15.0,57.0
3,Buninyong,2613.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0,78.0,45.0,0.0,14.0
4,Delacombe,3914.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0,225.0,15.0,0.0,19.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1490.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,122863.0,70836.0,84838.0,109805.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0,390217.0,391860.0,10329.0,8942.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:

# dwelling_types_2021_data = dwelling_types_2021_data.drop(columns=['column1', 'column2'])
dwelling_types_2021_data.drop(columns=dwelling_types_2021_data.columns[2:6], inplace = True)
dwelling_types_2021_data

,SA2 Name,Separate house,Flat or apartment attached to a house,Caravan,"Cabin, houseboat","Improvised home, tent, sleepers out","House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Temporary housing,Not Applicable
1,Alfredton,5717.0,0.0,4.0,0.0,0.0,0.0,14.0,9.0,6245.0,223.0,275.0,4.0,23.0
2,Ballarat,4588.0,0.0,0.0,0.0,15.0,33.0,21.0,36.0,5970.0,863.0,417.0,15.0,57.0
3,Buninyong,2613.0,0.0,0.0,0.0,0.0,5.0,11.0,3.0,2768.0,78.0,45.0,0.0,14.0
4,Delacombe,3914.0,5.0,0.0,0.0,0.0,0.0,11.0,8.0,4172.0,225.0,15.0,0.0,19.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1490.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,1759.0,3823.0,5258.0,1248.0,6438.0,3789.0,5153.0,2810815.0,390217.0,391860.0,10329.0,8942.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
dwelling_types_2021_data.drop(columns=dwelling_types_2021_data.columns[2:6], inplace = True)
dwelling_types_2021_data

,SA2 Name,Separate house,"House or flat attached to a shop, office, etc.",Not stated,Not applicable,Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Temporary housing,Not Applicable
1,Alfredton,5717.0,0.0,14.0,9.0,6245.0,223.0,275.0,4.0,23.0
2,Ballarat,4588.0,33.0,21.0,36.0,5970.0,863.0,417.0,15.0,57.0
3,Buninyong,2613.0,5.0,11.0,3.0,2768.0,78.0,45.0,0.0,14.0
4,Delacombe,3914.0,0.0,11.0,8.0,4172.0,225.0,15.0,0.0,19.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,1490.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,6438.0,3789.0,5153.0,2810815.0,390217.0,391860.0,10329.0,8942.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
dwelling_types_2021_data.drop(columns=dwelling_types_2021_data.columns[3:5], inplace = True)
dwelling_types_2021_data

,SA2 Name,Separate house,"House or flat attached to a shop, office, etc.",Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Temporary housing,Not Applicable
1,Alfredton,5717.0,0.0,6245.0,223.0,275.0,4.0,23.0
2,Ballarat,4588.0,33.0,5970.0,863.0,417.0,15.0,57.0
3,Buninyong,2613.0,5.0,2768.0,78.0,45.0,0.0,14.0
4,Delacombe,3914.0,0.0,4172.0,225.0,15.0,0.0,19.0
5,Smythes Creek,1489.0,0.0,1490.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
524,Total,2004789.0,6438.0,2810815.0,390217.0,391860.0,10329.0,8942.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
dwelling_types_2021_data['Non-residential properties'] = dwelling_types_2021_data['Not Applicable'] + dwelling_types_2021_data['Temporary housing'] + dwelling_types_2021_data['House or flat attached to a shop, office, etc.']
dwelling_types_2021_data

,SA2 Name,Separate house,"House or flat attached to a shop, office, etc.",Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Temporary housing,Not Applicable,Non-residential properties
1,Alfredton,5717.0,0.0,6245.0,223.0,275.0,4.0,23.0,27.0
2,Ballarat,4588.0,33.0,5970.0,863.0,417.0,15.0,57.0,105.0
3,Buninyong,2613.0,5.0,2768.0,78.0,45.0,0.0,14.0,19.0
4,Delacombe,3914.0,0.0,4172.0,225.0,15.0,0.0,19.0,19.0
5,Smythes Creek,1489.0,0.0,1490.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
524,Total,2004789.0,6438.0,2810815.0,390217.0,391860.0,10329.0,8942.0,25709.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
dwelling_types_2021_data = dwelling_types_2021_data.drop(columns=['Not Applicable', 'House or flat attached to a shop, office, etc.', 'Temporary housing'])
dwelling_types_2021_data

,SA2 Name,Separate house,Total Suburb Dwellings,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties
1,Alfredton,5717.0,6245.0,223.0,275.0,27.0
2,Ballarat,4588.0,5970.0,863.0,417.0,105.0
3,Buninyong,2613.0,2768.0,78.0,45.0,19.0
4,Delacombe,3914.0,4172.0,225.0,15.0,19.0
5,Smythes Creek,1489.0,1490.0,0.0,0.0,0.0
...,...,...,...,...,...,...
524,Total,2004789.0,2810815.0,390217.0,391860.0,25709.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN

In [92]:
# rearrange columns positions
dwelling_types_2021_data = dwelling_types_2021_data[['SA2 Name', 'Separate house', 'Semi-detached house or Townhouse', 'Flat or Apartment', 'Non-residential properties', 'Total Suburb Dwellings']]
dwelling_types_2021_data

,SA2 Name,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
1,Alfredton,5717.0,223.0,275.0,27.0,6245.0
2,Ballarat,4588.0,863.0,417.0,105.0,5970.0
3,Buninyong,2613.0,78.0,45.0,19.0,2768.0
4,Delacombe,3914.0,225.0,15.0,19.0,4172.0
5,Smythes Creek,1489.0,0.0,0.0,0.0,1490.0
...,...,...,...,...,...,...
524,Total,2004789.0,390217.0,391860.0,25709.0,2810815.0
525,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN
526,INFO,0.0,NaN,NaN,NaN,NaN
527,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN
528,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN

In [93]:
dwelling_types_2021_data = dwelling_types_2021_data.iloc[:-6, :]
dwelling_types_2021_data.tail(10)

,SA2 Name,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
513,Camperdown,1648.0,126.0,0.0,23.0,1804.0
514,Colac,5069.0,668.0,11.0,89.0,5833.0
515,Colac Surrounds,2615.0,5.0,0.0,12.0,2641.0
516,Corangamite - North,2547.0,102.0,9.0,45.0,2701.0
517,Corangamite - South,3227.0,107.0,4.0,53.0,3380.0
518,Otway,3560.0,216.0,106.0,111.0,3993.0
519,Moyne - East,3225.0,19.0,0.0,30.0,3279.0
520,Moyne - West,4744.0,302.0,21.0,60.0,5119.0
521,Warrnambool - North,8515.0,997.0,193.0,17.0,9723.0
522,Warrnambool - South,4643.0,915.0,605.0,279.0,6442.0

We dropped "Migratory - Offshore - Shipping (Vic.)" because from the ABS (1270.0.55.001 - Australian Statistical Geography Standard (ASGS): Volume 1 - Main Structure and Greater Capital City Statistical Areas, July 2016, https://www.abs.gov.au/ausstats/abs@.nsf/lookup/by%20subject/1270.0.55.001~july%202016~main%20features~statistical%20area%20level%202%20(sa2)~10014)

it mentions that "there are non-spatial SA2s for Migratory - Offshore - Shipping" therefore, it is meaningless to include this entry

##### Save the data

In [94]:
# Specify the file path where you want to save the CSV file
file_path = "../data/curated/ABS_data/SA2_Dwelling_Structure_2021.csv"

# Use the to_csv method to save the DataFrame to a CSV file
dwelling_types_2021_data.to_csv(file_path, index=False)